#login {
  border-radius: 18px;
  box-shadow: 0 10px 20px;
  position: relative;
  margin: 20px;
  top: 50%;
  border-color: black;
  
}

#cookie {
  border-radius:50%;
  box-shadow: 0 10px 20px;
  position: relative;
  margin: 20px;
  top: -10px;
  border-color: black;
  
}

#ck {
  border-radius: 47%;
  box-shadow: 0 10px 20px;
  position: relative;
  margin: 20px;
  top: -10px;
  border-color: black;
  
}
#cntr {
  border-radius: 18px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
    box-shadow: 0 10px 20px;
    position: fixed;
    margin: 0 auto;
    top:200px;
    border-color: black;
      background: rgb(161, 10, 10);
      height: 600px;
      width:200px;
      padding: 20px;
      display: table;
    
}

